<form>
  <div class="field">
    {{input type="text" value=name}}
  </div>
  <div class="field">
    {{input type="text" value=path}}
  </div>
  <div class="field">
    {{input type="date" value=activeOn}}
  </div>
  <div class="field">
    {{textarea value=content}}
  </div>
  <button {{action "save"}}>Save</button>
</form>
