<form class="static-page-form">
  {{view SpreeStaticPages.ErrorMessages}}
  <div class="field">
    {{input type="text" value=name}}
  </div>
  <div class="field">
    {{input type="text" value=path}}
  </div>
  <div class="field">
    {{view SpreeStaticPages.DateField dateBinding="activeOn"}}
  </div>
  <div class="field">
    {{textarea value=text}}
  </div>
  <button {{action "save"}}>Save</button>
  {{#unless isNew}}
    {{view SpreeStaticPages.PreviewButton}}
  {{/unless}}
</form>
